$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$primary-color: #25C6A6;
$background-color: #242B33;
$title-color: #ffffff;
$font-color: #B0BAC5;
$alternative-font: #696e73;
$subtitle: #bbbaba;
$foreground: #F5F9FC;
$border: #e2e8ef;